.catalog-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter-select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter-button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .filter-button:hover {
        background-color: #218838;
    }

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.product-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
}

    .product-item:hover {
        transform: scale(1.05);
    }

.product-name {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.product-description {
    color: #666;
    margin-bottom: 10px;
}

.product-price {
    font-weight: bold;
    margin-bottom: 15px;
}

.details-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .details-button:hover {
        background-color: #0056b3;
    }



.pagination {
    display: flex; /* Użycie flexboxa */
    justify-content: center; /* Wyśrodkowanie elementów */
    align-items: center; /* Wyrównanie do środka w pionie */
    gap: 1rem; /* Przestrzeń między elementami */
    margin: 20px 0; /* Odstęp od góry i dołu */
}

.pagination-button {
    background-color: #4340d2; /* Kolor tła */
    color: white; /* Kolor tekstu */
    border: none; /* Brak ramki */
    border-radius: 4px; /* Zaokrąglone rogi */
    padding: 10px 15px; /* Padding wewnętrzny */
    cursor: pointer; /* Kursor w rękę na hover */
    transition: background-color 0.3s; /* Płynne przejście */
}

    .pagination-button:hover {
        background-color: #3b38c5; /* Kolor tła przy hover */
    }

.pagination-info {
    color: #4340d2; /* Kolor tekstu dla informacji */
}




