@page "/product-details/{productId:int}"

@inject IProductService ProductService
@inject NavigationManager NavigationManager
@using FISTNESSGYM.Models.database
@using FISTNESSGYM.Data
@using FISTNESSGYM.Services

<h3 class="product-title">@product?.Name</h3>
<link href="css/store/productdetails.css" rel="stylesheet" />

@if (product == null)
{
    <p>Ładowanie szczegółów produktu...</p>
}
else
{
    <div class="product-details">
        <p class="product-description">@product.Description</p>
        <p class="product-price">@product.Price zł</p>
        <button @onclick="NavigateToCatalog" class="back-button">Powrót do katalogu</button>
    </div>
}

@code {
    [Parameter]
    public int productId { get; set; }

    private Product product;

    protected override async Task OnInitializedAsync()
    {
        product = await ProductService.GetProductByIdAsync(productId);
    }

    private void NavigateToCatalog()
    {
        NavigationManager.NavigateTo("/products-catalog");
    }
}
