@page "/settings/personal/measurement"

<h3>Pomiary</h3>

<p>
	Dla admina/trenera/pracownika zrobić CRUD
	<br />

	Dla użytkownika/klienta zrobić personalny CRUD / ewentualnie jakies propozycje inne
</p>

@code {

}
