@page "/settings/personal/results"

<h3>Rezultaty</h3>

<p>
	ZROBIĆ TABELKĘ DO SQL, TO WSZYSTKO JEST POTRZEBNE DO WIDGETU DLA KLIENTÓW.
	<br />
	Dla admina/trenera/pracownika zrobić CRUD
	<br />

	Dla użytkownika/klienta zrobić personalny CRUD / ewentualnie jakies propozycje inne
</p>

@code {

}
