@page "/settings/personal/results"

<h3>Rezultaty</h3>

<p>
	ZROBIĆ TABELKĘ DO SQL, TO WSZYSTKO JEST POTRZEBNE DO WIDGETU DLA KLIENTÓW.
	<br />
	Dla admina zrobić CRUD
	<br />

	Dla użytkownika zrobić personalny CRUD / ewentualnie jakies propozycje inne
</p>

@code {

}
