@page "/admin-widget-profit-this-month"
@inject databaseService DatabaseService
@using FISTNESSGYM.Services

<RadzenCard Style="padding: 20px; border-radius: 8px; border: 1px solid #e0e0e0; width: 340px; height: 160px;">
    <h4 style="color: #3a3a3a; font-weight: 600; margin-top: 0px">Zysk ze sprzeda¿y</h4>
    <RadzenRow>
        <RadzenColumn Size="12">
            <div style="display: flex; flex-direction: column; align-items: start;">
                <h4 style="margin: 0; color: #007acc; font-weight: 600;">Zysk w tym miesi¹cu</h4>
                <strong style="font-size: 24px; color: #3a3a3a;">@adminWidgetProfitThisMonthValue?.ToString("C")</strong>
                <p style="margin-top: 5px; color: #757575; font-size: 14px;">
                    z³
                </p>
            </div>
        </RadzenColumn>
    </RadzenRow>
</RadzenCard>

@code {
    private decimal? adminWidgetProfitThisMonthValue;  // Nullable decimal

    protected override async Task OnInitializedAsync()
    {
        // Pobierz zysk ze sprzeda¿y w bie¿¹cym miesi¹cu dla widgetu administratora
        adminWidgetProfitThisMonthValue = await DatabaseService.GetAdminWidgetProfitThisMonthAsync();
    }
}
